.hidden{
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}



img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}



/* ---------common------ */

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}
@media screen and (min-width:768px){
.container {
        width: 768px;
    }
}

@media screen and (min-width:1158px) {
.container {
        width: 1158px;
        padding: 0 15px;
    }
}



/* header */

.header {

    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-menu-list,
.header-address{
    display: none;
}
.header-logo {
    padding: 16px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
}
.header-logo-studio {
    color: #2e2f42;
}
.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;

}
.burger-icon{
    display: block;
    fill:2f2f37;

}
@media screen and (min-width:768px) {
    .burger-btn{
        display: none;
    }

    .header-logo{
      padding: 24px 0;
      margin-right: 120px;  
    }
    .header-menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
    }          
    .header-address {
     font-style: normal;
     color: #434455;
     display: block;

    }
    .header-navigation {
            display: flex;
            align-items: center;
        }
   .header-menu-item {
       position: relative;
   }

   .header-menu-item:first-child::after {
       content: '';
       width: 100%;
       position: absolute;
       left: 0;
       bottom: -1px;
       height: 4px;

       background-color: #404bbf;
       border-radius: 2px;
   }

   .header-menu-link:focus {
       color: #404bbf
   }

   .header-menu-link {
       position: relative;
       display: block;
       padding: 24px 0;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #2e2f42;

       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .header-menu-link::after {
       content: '';

       position: absolute;
       left: 0;
       bottom: -1px;

       border-radius: 2px;
       background-color: #404bbf;
       width: 100%;
       height: 4px;

       opacity: 0;

       transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .header-menu-link:hover::after,
   .header-menu-link:focus::after,
   .header-menu-link.current::after {
       opacity: 1;
   }

   .header-menu-link:hover,
   .header-menu-link:focus,
   .header-contact-link:hover,
   .header-contact-link:focus,
   .header-menu-link.current {
       color: #404bbf;
   }
  
   
   .header-contact-information {
       display: flex;
       flex-direction: column;
       gap: 12px;

   }
    .header-contact-link {
    display: block;
   
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


}

@media screen and (min-width:1158px){
.header-logo {
        margin-right: 76px;

    }
        .header-contact-information {
            flex-direction: row ;
            align-items: center;
            gap: 40px;
    
        }
        .header-contact-link {
            padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            
        }
}

/* -------- mobile-menu --------- */

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
        visibility: hidden;
        pointer-events: none;
                transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-close{
fill: #200404;
}

.mobile-menu-contacts {
    font-style: normal;
    display: block;
    width: 193px;
    margin-bottom: 48px;
}

.mobile-address-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}
.mobile-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-address-tel {
    color: #4d5ae5;
}

.mobile-link-menu:hover,
.mobile-link-menu:focus,
.mobile-address-link:hover,
.mobile-address-link:focus {
    color: #404bbf;
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
   position: relative; 
   padding-top: 72px;
   padding-bottom: 40px;
   display: flex;
   flex-direction: column;
   height: 100%;
}
.mobile-menu-close{
    position: absolute;
    top: 24px;
    left: 24px;
    

}
.mobile-llink-studio{
    color: #404bbf;
}

.mobile-link-menu{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

@media screen and (min-width:768px) {
    .mobile-menu{
        display: none;
    }
}

/* --------hero-intro-section-------- */

.intro-section {
    max-width: 320px;
    /* min-height: 432px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff;
    background-color: #2e2f42;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);

}

.intro-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;

    <source media="(max-width: 767px)" srcset="./images/images/people-office-small.jpg 1x,
     ./images/people-office-big.jpg 2x" /><people in office" /></picture>

}

.order-service-button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service-button:hover {
    background-color: #404bbf;

}

.order-service-button:focus {
    background-color: #404bbf;

}
  /* < !-- Desktop screen --> */
<source media="(min-width: 1158px)"
srcset="./images/images/people-office-small.jpg 1x, 
./images/people-office-big.jpg 2x" />
/* < !-- Tablet screen --> */
<source media="(min-width: 768px)" srcset="./images/images/people-office-small.jpg 1x,
./images/people-office-big.jpg 2x" />
/* < !-- Mobile screen --> */
<source media="(max-width: 767px)" srcset="./images/images/people-office-small.jpg 1x,
./images/people-office-big.jpg 2x" /><people in office" /></picture>




@media screen and (min-width: 768px){
    .intro-section{
        padding: 112px 0;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office-small.jpg);  
    }

}


@media screen and (min-width: 768px){
    .intro-section{
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
        font-size: 56px;
        line-height: 1.07;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/people-office-medim.jpg);
        <source media="(min-width: 768px)" srcset="./images/images/people-office-small.jpg 1x,
         ./images/people-office-big.jpg 2x" />
                   
    
    }
}


@media screen and (max-width: 1158px){
    .intro-section{
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/people-office-big.jpg);

        <source media="(min-width: 1158px)"
            srcset="./images/images/people-office-small.jpg 1x, 
         ./images/people-office-big.jpg 2x" />
    }
        .hero-title {
            margin-bottom: 48px;
        }
}

/* -------features-section------- */

.features-section {
    padding-top: 96px;
    padding-bottom: 96px;
   
}
.feature-item{
     width: 100%; 
    position: relative;
   
   

}

.features-list {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px;
   

   
}
.features-item-icon-wrapper {
    display: none;}
    
.features-item-title{
    text-align: center;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
}
.features-item-description{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
       

}

@media screen and (min-width: 768px){
    .features-section{
       width: 768px;
    padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }
     .features-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 72px 24px;
        
            
           
        }
    .features-item-title{
        text-align: left;
        padding-left: 16px;
            padding-right: 16px;
       
    }
   

    .features-item{
        width: calc((100% - 24px) / 2);
            padding-left: 16px;
            padding-right: 16px;
    }
    .features-item-description{
        width: calc((100% - 24px) / 2);
        padding-left: 16px;
        padding-right: 16px;
        font-weight: 400;
        width: 100%;
        
}
}
   
@media screen and (min-width: 1158px){
    .features-section {
            padding-top: 120px;
            padding-bottom: 120px;
            margin: 0 auto;
            /* width: 100%; */
        }
    
        .features-list {
            gap: 24px;
        }
        .features-item {
            width: calc((100% - 72px) / 4);
            
        }
        .features-item-icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            margin-bottom: 8px;
            background-color: #f4f4fd;
        }
    .features-item-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

/* ------our-team------ */

.team-section {
    background-color: #f4f4fd;
    
    padding-top: 96px;
    padding-bottom: 96px;
}
.team-title{
margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.member-info{
    display: block;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}
.team-member-name{
    margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
}
.team-member-role{
text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;

}
.icon-item {
    width: 40px;
    height: 40px;
    margin-bottom: 32px;


}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
    fill: #f4f4fd;
}

.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}
.team-member {
    background-color: #FFFFFF;
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px){
.team-list {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .team-member {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
    }

    .team-member {
        width: calc((100% - 72px) / 4);
    }
}


/* -------our-portfolio----- */
./* ------our-team------ */

.team-section {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.team-member-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.team-member-role {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;

}

.icon-item {
    width: 40px;
    height: 40px;

}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
    fill: #f4f4fd;
}

.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}

.team-member {
    background-color: #FFFFFF;
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .team-list {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .team-member {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
    }

    .team-member {
        width: calc((100% - 72px) / 4);
    }
}

/* ------our-portfolio----- */

.portfolio-section {
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
}


.portfolio-item-title{
    margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-title{
    /* margin-left: auto;
        margin-right: auto; */
        margin-bottom: 72px;
        text-transform: capitalize;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.portfolio-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.wrap-portfolio-overlay{
    position: relative;
        overflow: hidden;
}

.portfolio-overlay-text{
position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0);

}
.category {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px){
    .portfolio-section {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    
        .portfolio-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 48px ;
        }
    
        .portfolio-item {
            box-shadow: none;
            flex-basis: calc((100% - 48px) / 4);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

/* -----footer---- */

.footer {
    
    background-color: #2e2f42;
    padding: 96px 0;

}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
   
}
.footer-logo-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
}
.footer-logo{
    margin: 0 auto;
        display: block;
        gap: 0px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        width: 116px;
        margin-bottom: 16px;

}
.footer-logo-studio{
    color: #f4f4fd;
}
.footer-icons{
    
}
.social-media{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
}



.footer-part{
   
    margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
}
.footer-form-input{
    border: 1px solid #fff;
        border-radius: 4px;
        width: 288px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        padding-left: 19px;
        color: #fff;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        margin-bottom: 16px;
}
.footer-form-input:focus {
    border-color: #31d0aa;
}

.footer-form-btn::placeholder {
    color: #fff;
}



.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #31d0aa;
    border: none;
}

.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-icon {
    margin-left: 16px;
    fill: #fff;
}
@media screen and (min-width: 768px){
    
  .footer-container{
    width: 768px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
    
  }
  .footer-form{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;   
  }
}